*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

ul li {
    list-style: none;
    display: inline-flex;

}

img {
    max-width: 100%;
    height: auto;
}

/* Hela sidan */
#page-wrapper {
    position: relative;
    display: flex;
    background-color: green;
    width: 100vw;
    height: 100vh;
    border: 5px solid black;
    z-index: 0;
}

/* Övre sektion */
.header-container {
    position: absolute;
    top:0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 13vh;
    border-bottom: 5px solid black;
    z-index: 1;
}

/* Liten gul bild-container */
.bild-left-container_header {
    margin-left: 3vh;
    margin-top: 1.3vh;
    display: flex;
    width: 25vw;
    height: 10vh;
    border: 5px solid black;
    z-index: 2;
}

/* Länklista-container */
.länklista-right-container_header {
    margin-right: 2vh;
    margin-top: 6.3vh;
    display: flex;
    align-items: center;
    background-color: rgb(34,177,76);
    width: 64.5vw;
    height: 5vh;
    border: 5px solid black;
    z-index: 2;
}

/* Länkknapp-container */
.länk-container_header {
    margin-top: 2px;
    max-width: 15vw; /*16.35vw*/
    height: 2vh;
    z-index: 3;
}

/*  Används ej (var intial rubrik för specifikationens "länklista")
    .länklista-right-container_header h3 {
    padding: 0.8vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}*/

/* Nedre sektion */
.main-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 87vh;
}

/* Stor gul bild-container */
.bild-left-container_main {
    margin-left: 3vh;
    margin-top: 3.5vh;
    display: flex;
    width: 64.5vw;
    height: 81vh;
    border: 5px solid black;
    z-index: 2;
}

.bild-left-container_main img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Samlings-container (sektion nere höger: Rubrik, brödtext, knapp) */
.right-container_main {
    margin-right: 2vh;
    margin-top: 3.5vh;
    display: flex;
    width: 30.5vw;
    height: 81vh;
}

/* Rubrik-container */
.rubrik-right-upper-container_main {
    background-color: rgb(0,162,232);
    width: 30.5vw;
    height: 10vh;
    border: 5px solid black;
    z-index: 2;
}

.rubrik-right-upper-container_main h1 {
    padding: 5%;
    color: white;
    text-align: center;
}

/* Brödtext-container */
.brödtext-right-mid-container_main {
    margin-top: 2.5vh;
    background-color: rgb(153,217,234);
    width: 30.5vw;
    height: 56vh;
    border: 5px solid black;
    overflow: auto;
    z-index: 2;
}

.brödtext-right-mid-container_main h1 {
    margin-top: 25vh;
    text-align: center;
}

/* Knapp-container */
.knapp-right-lower-container_main {
    margin-top: 2.5vh;
    width: 30.5vw;
    height: 10vh;
    border: 5px solid black;
    z-index: 2;
}

.knapp-right-lower-container_main button {
    width: 100%;
    height: 100%;
    background-color: rgb(255,174,201);
}